<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>0834d4e3-9b42-4d27-bab6-5674dd6fed80</string>
	<key>apiSecret</key>
	<string>2755c0e5-1be7-47fc-89b3-227f2e41c8af</string>
	<key>cloudEndPoint</key>
	<string>https://restapistage.telenav.com</string>
</dict>
</plist>
